.sidebar-popup-container {
    z-index: 10;
    position: fixed;
    top: auto; 
    bottom: auto;
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
    transition-duration: 300ms;
}

.sidebar-popup-open {
    left: 0;
}

.sidebar-popup-closed {
    left: -17rem;
}

.sidebar-popup-content {
    display: flex;
    height: fit-content;
    width: 17rem;
    flex-direction: column;
    background-color: white;
    padding: 1.25rem;
    direction: ltr;
}

.sidebar-popup-item {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.sidebar-popup-toggle {
    height: fit-content;
    width: fit-content;
    border-radius: 0.75rem;
    border-width: 2px;
    background-color: white;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.sidebar-popup-toggle:hover {
    cursor: pointer;
}

.sidebar-popup-item img {
    width: auto;
    height: 58px;
    max-width: 100%;
    object-fit: contain;
}

.item-name {
    font-size: 1.1rem;
    font-weight: normal;
    color: #555;
    margin: 0.5rem 0;
}