* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #f3e4d7;
}

.viewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0 5px #fff;
}



.slider-value {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.headline {
  font-size: 2.0rem;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.year-slider {
  width: 80%;
  margin: 20px auto;
}

.example-mark {
  color: #888;
  font-size: 12px;
}


.year-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  border: 2px solid #007bff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
  z-index: 2;
  transition: box-shadow 0.15s ease-in-out;
}

.year-slider-thumb:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.year-slider-track {
  height: 7px;
  background-color: #ccc;
  border-radius: 2px;
}

.mapContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.uiContainerTop {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 10;
  top: 10px;
  left: auto;
  right: auto;
  width: 700px;
  background-color: midnightblue;
  filter: grayscale(0.5);
  box-shadow: inset 0px 0px 5px 1px rgba(256,256,256,0.7);
  padding: 10px;
}

.uiContainerBottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 10;
  bottom: 12px;
  left: auto;
  right: auto;
  width: 700px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: inset 0px 0px 5px 1px rgba(0,0,0,0.45);

}